<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.facecore.facecoredemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 允许程序写入 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 解决系统关闭问题 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" >
    </uses-permission>
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许程序调用相机权限 (扫描，相机模块) -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 允许程序camera自动对焦(扫描，相机模块) -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 允许程序访问闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/my_ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.facecore.facecoredemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.facecore.facecoredemo.CompareActivity"
            android:label="@string/title_activity_compare" >
        </activity>
        <activity
            android:name="cn.facecore.facecoredemo.DetectActivity"
            android:label="@string/title_activity_detect" >
        </activity>
    </application>

</manifest>